html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:'yingbikaishujianti';
}
@font-face{
font-family:'yingbikaishujianti';
src:url(../yingbikaishujianti.TTF);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Extended base styles (site specific)
*****************************************************************/
html { 
  overflow-y: scroll; /* always force a scrollbar in non-IE */
  }
body {
  background: #ecdbc9;
  overflow-x: hidden;
  height: 5550px;
  line-height: 1.5;
  color: #620000;
  font-size: 20px;
  font-family: 'yingbikaishujianti';
}
h1 {
  color: #620000;
}
a, a:link,
a:active,
a:visited {
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color:#620000;
  outline: none;
  text-decoration:none;
  }
  a:hover { 
    color:620000;
    }
img { 
  display:block;
  }
p {
	font-size:20px;
  margin:1em 0;
  }
/* Common shared styles
*****************************************************************/
hr {
  margin: 0;
  border: none;
  border-top: 1px solid #620000;
  border-bottom: 1px solid #620000;
  height: 3px;
}
/* Page structure
*****************************************************************/
#wrapper {
  position: relative;
}
#branding {
  width: 100%;
  background:#ecdbc9;
  }
  #branding h1 {
    width: 940px;
    padding: 10px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 118px;
    font-weight: bold;
    }
/* Nav
*****************************************************************/
nav#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px;
}
nav#primary li {
  position: relative;
  height: 20px;
}
nav#primary a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: transparent url('../PIC/图标/tab-h.png') 4px 4px no-repeat; background-image:100% 100%;
}
nav#primary a:hover, nav#primary a.active {
	 display: block;
  width: 40px;
  height: 40px;
	text-indent: -9999px;
  background: transparent url('../PIC/图标/tab-d.png') 4px 4x no-repeat;background-image:100% 100%;
}
nav#primary h1 {
  position: absolute;
  right: 22px;
  top: -7px;
  display: none;
  padding: 4px 20px 4px 7px;;
  color: #620000;
  white-space: nowrap;
  background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
  }
nav.next-prev {
  margin: 20px 0 0 0;
  }
  a.prev,
  a.next {
    display: block;
    width: 15px;
    height: 11px;
    text-indent: -9999px;
    }
  a.prev {
    margin: 0 auto 5px auto;
    background: transparent url('../PIC/图标/btn-byys-d.png') 0 0 no-repeat;
    }
    a.prev:hover {
      background: transparent url('https://code.5g-o.com/wp-content/uploads/2020/09/scroll-arrow-up.png') 0 -11px no-repeat;
      }
  a.next {
    margin: 5px auto 0 auto;
    background: transparent url('https://code.5g-o.com/wp-content/uploads/2020/09/scroll-arrow-down.png') -1px 0 no-repeat;
    }
    a.next:hover {
      background: transparent url('https://code.5g-o.com/wp-content/uploads/2020/09/scroll-arrow-down.png') -1px -11px no-repeat;
      }
/* Parallax
*****************************************************************/
/* content */
#content {
  z-index: 4;
  position: relative;
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  line-height: 1.7;
  }
  #content article {
	width: 505px;
    }
    #manned-flight ,
    #frameless-parachute,
    #english-channel,
    #about {
      padding-top: 105px;
      }
    #manned-flight {
	position: absolute;
	top: 1px;
	left: -70px;
      }
    #frameless-parachute {
      position: absolute;
      top: 1490px;
	  left: -70px;
      }
    #english-channel {
      position: absolute;
      top: 2880px;
	  left: -70px;
      }
      #content h1 {
        margin: 0 0 25px 0;
        font-size: 60px;
        font-family: 'yingbikaishujianti';
        font-weight: normal;
        line-height: 65px;
        }
    #about {
      position: absolute;
      top: 4270px;
	  left: -70px;
      }
/* foreground (ballons/landscape) */
#parallax-bg3 {
  z-index: 3;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 940px;
  margin-left: -470px; /* move left by half element's width */
  }
  /* balloon */
  #bg3-1 {
    position: absolute;
    top: 100px;
    left: 355px;
    }
  #bg3-2 {
    position: absolute;
    top: 1300px;
    left: 355px;
    }
  #bg3-3 {
    position: absolute;
    top: 2290px;
    left: 355px;
    }
  #bg3-4 {
    position: absolute;
    top: 3380px;
    left: 355px;
    }
/* midground (clouds) */
#parallax-bg2 {
  z-index: 2;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
  }
  #bg2-1 {
    position: absolute;
    top: 162px;
    left: 200px;
    }
  #bg2-2 {
    position: absolute;
    top: 300px;
    left: 1150px;
    }
  #bg2-3 {
    position: absolute;
    top: 543px;
    left: -35px;
    }
  #bg2-4 {
    position: absolute;
    top: 1180px;
    left: 250px;
    }
  #bg2-5 {
    position: absolute;
    top: 900px;
    left: 890px;
    }
/* background (clouds) */
#parallax-bg1 {
  z-index: 1;
  position: fixed;
  left: 50%; /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px; /* move left by half element's width */
  }
  #bg1-1 {
    position: absolute;
    top: 85px;
    left: -270px;
    }
  #bg1-2 {
    position: absolute;
    top: 440px;
    left: 795px;
    }
  #bg1-3 {
    position: absolute;
    top: 900px;
    left: -220px;
    }
  #bg1-4 {
    position: absolute;
    top: 1020px;
    left: 450px;
    }
